doctype html
html(lang='en')
  head
    title Accounts - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/dashboard_nav.jade
    .container
      section#content
        .row
          include includes/dashboard_sidebar.jade

          .span10
            h1 Accounts
            ul(style='padding-top:20px;').nav.nav-tabs#tabnav
              li#overviewlink
                a(href='#') Overview
              li#newlink
                a(href='#') New account
            #overview
              h3 Account overview
              - if (flash.success !== undefined)
                .alert-success.alert#success
                  strong Well done!
                  br
                  p #{flash.success}
              - if (flash.error !== undefined)
                .alert-danger.alert#fail
                  strong Oh no..
                  br
                  p #{flash.error}
              .alert-error.alert.hidden#fillInAllInfo
                strong Error!
                br
                p Please fill in all the information!
              #accounttable
                - if (locals.accounts && locals.accounts.length > 0)
                  table.table.table-hover
                    thead
                      tr
                        th Name
                        th Currency
                        th(style='text-align:right;') Balance
                    tbody
                      for account in locals.accounts
                        tr
                          td
                            a(href='/account/#{account.name}/1') #{account.name}
                          td #{account.curr}
                          td(style='text-align:right;') #{functions.formatAmount(account.bal)}
                          td(style='text-align:right;')
                            a(href='/accounts?editAccount=true&n=#{account.name}&b=#{account.bal}') Edit
                          td(style='text-align:right;')
                            a(style='color:red;', href='/accounts?deleteAccount=true&n=#{account.name}') Delete
                      tr(style='font-weight:bold;')
                        td
                        td Total (#{locals.user.curr}):
                        td(style='text-align:right;') #{functions.formatAmount(locals.balanceSum)}
                        td
                        td
                - else
                  p There are no accounts to be displayed.

              h3(id='editaccounttitle') Edit account
              form.form-horizontal(id='editaccountform', method='POST', action='/accountEdited', onsubmit="return PBHelperTools.validateEditAccount();")
                fieldset
                  .control-group#cg-editname
                    label.control-label(for='editNameInput') Name
                    .controls
                      input.input-xlarge#editNameInput(type='text', name='editNameInput')
                  .control-group#cg-hiddenoldname
                    .controls
                      input.input-xlarge#hiddenOldName(type='hidden', name='hiddenOldName')
                  .control-group#cg-editinitialbalance
                    label.control-label(for='editInitBalanceInput') Balance
                    .controls
                      input.input-xlarge#editInitBalanceInput(type='text', name='editInitBalanceInput')
                  .control-group
                  .form-actions
                    button.btn.btn-info(type='submit') Edit account

              h2(id='deleteaccounttitle') Delete account
              form.form-horizontal(id='deleteaccountform', method='POST', action='/accountDeleted', onsubmit="return PBHelperTools.validateDeleteAccount();")
                fieldset
                  .control-group#cg-deletename
                    label.control-label(for='deleteNameInput') Name
                    .controls
                      input.input-xlarge.uneditable-input#deleteNameInput(type='text', name='deleteNameInput')
                  .control-group
                  .form-actions
                    button.btn.btn-warning(type='submit') Delete this account!
            #new
              h3(id='addaccounttitle') Add a new account
              form.form-horizontal(id='addaccountform', method='POST', action='/accountAdded', onsubmit="return PBHelperTools.validateAddAccount();")
                fieldset
                  .control-group#cg-name
                    label.control-label(for='nameInput') Name
                    .controls
                      input.input-xlarge#nameInput(type='text', name='nameInput')
                  .control-group#cg-currency
                    label.control-label(for='currDropdown') Currency
                    .controls
                      select(name='currDropdown')
                        for currency in data.currencies
                          - if (currency.ISO === locals.user.curr)
                            option(value='#{currency.ISO}', selected='true') #{currency.ISO} - #{currency.name}
                          - else
                            option(value='#{currency.ISO}') #{currency.ISO} - #{currency.name}
                  .control-group#cg-initialbalance
                    label.control-label(for='initBalanceInput') Initial balance
                    .controls
                      input.input-xlarge#initBalanceInput(type='text', name='initBalanceInput')
                  .control-group
                  .form-actions
                    button.btn.btn-info(type='submit') Add account

      include includes/footer.jade

    include includes/libs.jade

    script.
      (function() {
        PBHelperTools.toggleAccountNavigationTabs();
        PBHelperTools.toggleAccountMode();
      })();