doctype html
html(lang='en')
  head
    title Accounts - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/dashboard_nav.jade
    .container
      section#content
        .row
          include includes/dashboard_sidebar.jade

          .span10
            h1 Accounts
            table.table
              thead
                tr
                  th Name
                  th Currency
                  th Balance
              tbody              
                for account in accounts
                  tr
                    td #{account.name}
                    td #{account.currency}
                    td #{account.balance}
                    td Edit balance
                tr(style='font-weight:bold;')
                  td
                  td Total (#{user.prefCurr}):
                  td #{balanceSum}
                  td

      include includes/footer.jade

    include includes/bootstrap_jquery.jade
