include includes/all_header.jade
  .row
    include includes/dashboard_sidebar.jade

    .col-lg-10
      h1 Budget

      - if (flash.success !== undefined)
        .alert-success.alert#success
          strong Well done!
          br
          p #{flash.success}
          if (flash.error !== undefined)
            .alert-danger.alert#fail
              strong Oh no..
              br
              p #{flash.error}

      ul(style='padding-top:20px;').nav.nav-tabs#tabnav
        li#overviewlink
          a(href='#') Overview
        li#earninglink
          a(href='#') Define earning
        li#spendinglink
          a(href='#') Define spending
      #overview
        .row
          .col-lg-6
            h3 Earnings - #{locals.currentMonth}
            table.table.table-hover
              thead
                tr
                  th Name
                  th Current
                  th Budget
              tbody
                - for position in locals.earningPositions
                  tr
                    td #{position.name}
                    td #{position.current}
                    td #{position.amount}
          .col-lg-6
            h3 Spendings - #{locals.currentMonth}
            table.table.table-hover
              thead
                tr
                  th Name
                  th Current
                  th Budget
              tbody
                - for position in locals.spendingPositions
                  tr
                    td #{position.name}
                    td #{position.current}
                    td #{position.amount}
      #earning
          - if (locals.earningPositions && locals.earningPositions.length > 0)
              table.table.table-hover
                  thead
                      tr
                          th Name
                          th(style='text-align:right;') Amount
                  tbody
                      for position in locals.earningPositions
                          tr
                              td #{position.name}
                              td(style='text-align:right;') #{functions.formatAmount(position.amount)}
          - else
              h2 There are no positions defined yet.

          h3(id='addearningtitle') Add an earning position
          form(id='addearningform', method='POST', action='/earningAdded', onsubmit="return PBHelperTools.validateAddEarning();")
              fieldset
                  .form-group#cg-earningName
                      label(for='earningNameInput') Name
                      input.form-control#earningNameInput(type='text', name='earningNameInput')
                  .form-group#cg-earningAmount
                      label(for='earningAmountInput') Max earning amount
                      input.form-control#earningAmountInput(type='text', name='earningAmountInput')
                  button.btn.btn-success(type='submit') Add position
      #spending
          - if (locals.spendingPositions && locals.spendingPositions.length > 0)
              table.table.table-hover
                  thead
                      tr
                          th Name
                          th(style='text-align:right;') Amount
                  tbody
                      for position in locals.spendingPositions
                          tr
                              td #{position.name}
                              td(style='text-align:right;') #{functions.formatAmount(position.amount)}
          - else
              h2 There are no positions defined yet.

          h3(id='addspendingtitle') Add a spending position
          form(id='addspendingform', method='POST', action='/spendingAdded', onsubmit="return PBHelperTools.validateAddSpending();")
              fieldset
                  .form-group#cg-spendingName
                      label(for='spendingNameInput') Name
                      input.form-control#spendingNameInput(type='text', name='spendingNameInput')
                  .form-group#cg-spendingAmount
                      label(for='spendingAmountInput') Max spending amount
                      input.form-control#spendingAmountInput(type='text', name='spendingAmountInput')
                  button.btn.btn-success(type='submit') Add position


include includes/all_footer.jade

script.
  (function() {
    PBHelperTools.toggleBudgetNavigationTabs();
  })();
