doctype html
html(lang='en')
  head
    title Dashboard - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/dashboard_nav.jade
    .container
      section#content
        .row
          include includes/dashboard_sidebar.jade

          .span10
            .alert-success.alert#registeredInfo
              button.close(date-dismiss='alert') ×
              strong Welcome!
              br
              p Your registration was successfull. You will receive a confirmation email in the next few minutes.
            h1 Account Overview
            p You can manage the accounts under 
              a(href='/accounts') "Accounts"
              | .
            table.table
              thead
                tr
                  th Name
                  th Currency
                  th(style='text-align:right;') Balance
              tbody              
                for account in accounts
                  tr
                    td #{account.name}
                    td #{account.currency}
                    td(style='text-align:right;') #{account.balance}
            hr
            h1 Recent transactions
            table.table
              thead
                tr
                  th Date
                  th Account
                  th Descrition
                  th +/-
                  th Tags
                  th(style='text-align:right;') Amount
              tbody              
                for trans in transactions
                  tr
                    td #{trans.date}
                    td #{trans.acc}
                    td #{trans.name}
                    td #{trans.art}
                    td #{trans.tags}
                    td(style='text-align:right;') #{trans.amount}

      include includes/footer.jade
    include includes/bootstrap_jquery.jade

    script(type='text/javascript')
      // hide all notifications which should not be displayed
      if (typeof($.getUrlVar('registered')) == 'undefined')
        $('#registeredInfo').hide();
