doctype html
html(lang='en')
  head
    title Transactions - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/dashboard_nav.jade
    .container
      section#content
        .row
          include includes/dashboard_sidebar.jade

          .span10
            h1 Transactions
            ul(style='padding-top:20px;').nav.nav-tabs#tabnav
              li#overviewlink
                a(href='#') Overview
              li#newlink
                a(href='#') New transaction
              li#tagslink
                a(href='#') Manage tags
            #overview
              h3 Transaction overview
              - if (flash.success !== undefined)
                .alert-success.alert#success
                  strong Well done!
                  br
                  p #{flash.success}
              - if (flash.error !== undefined)
                .alert-danger.alert#fail
                  strong Oh no..
                  br
                  p #{flash.error}
              - if (locals.transactions.length > 0)
                table.table
                  thead
                    tr
                      th Date
                      th Account
                      th Descrition
                      th +/-
                      th Tags
                      th(style='text-align:right;') Amount
                  tbody
                    for trans in locals.transactions
                      tr
                        td #{trans.date}
                        td #{trans.acc}
                        td #{trans.name}
                        td #{trans.art}
                        td #{trans.tags}
                        td(style='text-align:right;') #{locals.formatAmount(trans.amount)}
              - else
                p There are no transactions to be displayed.
            #new
              h3 Add a new transaction
              .alert-error.alert.hidden#fillInAllInfo
                button.close(date-dismiss='alert') ×
                strong Error!
                br
                p Please fill in all the information!
              form.form-horizontal(id='addtransactionform', method='POST', action='/transactionAdded', onsubmit="return PBHelperTools.validateAddTransaction();")
                fieldset
                  .control-group#cg-id
                    .controls
                      input.input-xlarge#transIDInput(type='hidden', name='transIDInput', value='1')
                  .control-group#cg-account
                    label.control-label(for='transAccDropdown') Account
                    .controls
                      select(name='transAccDropdown')
                        option(value='einnahme') Foo
                        option(value='einnahme') Bar
                  .control-group#cg-name
                    label.control-label(for='transNameInput') Description
                    .controls
                      input.input-xlarge#transNameInput(type='text', name='transNameInput')
                  .control-group#cg-art
                    label.control-label(for='artDropdown') +/-
                    .controls
                      select(name='transArtDropdown')
                        option(value='+') +
                        option(value='-') -
                  .control-group#cg-transtags
                    label.control-label(for='transTagsInput') Tags
                    .controls
                      input.input-xlarge#transTagsInput(type='text', name='transTagsInput')
                  .control-group#cg-transamount
                    label.control-label(for='transAmountInput') Amount
                    .controls
                      input.input-xlarge#transAmountInput(type='text', name='transAmountInput')
                  .control-group
                  .form-actions
                    button.btn.btn-info(type='submit') Add transaction
            #tags
              h3 Tags

      include includes/footer.jade

    include includes/libs.jade

    script
      (function() {
        PBHelperTools.toggleTransactionNavigationTabs();
      })();